.navbar{
    background-color: var(--primary);
    padding: 1rem 3rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar nav{
    display: flex;
}

.navbar li{
    list-style: none;
}

.navbar a{
    color: white;
    text-decoration: none;
}


@media screen and (max-width: 600px){
    .navbar{
      padding: 1rem 1rem;
    }
  }