.word-highlight{
    background-color:#7dd3fc;
    line-height: 100%;
    border-width: 0px;
    padding: 2px 0 3px;
    border-radius: .25rem;
}

.word{
    display: inline-flex;
    line-height: 100%;
    align-items: center;
    padding-right: 0.3rem;
    font-size: 1.25rem;
    padding: 2px 0 3px;
}

.word:hover{
    cursor: pointer;
}

.word{
    content: "\00a0";
    position: relative;
    user-select: text;
}

.space-item{
    user-select: none;
}

.paragraph{
    width: 100%;
    user-select: none;
}

