*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary: #7dd3fc;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.container{
  width: 100%;
  padding: 2rem 4rem;
  user-select: none;
}

.page-centered{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}

.text-centered{
  text-align: center;
}

span{
  white-space-collapse: preserve;
}

.large-heading{
  font-size: 3rem;
}

.medium-heading{
  font-size: 2rem;
}

.small-heading{
  font-size: 1.5rem;
}

.btn{
  border-width: 0;
  padding: 1rem;
  border-radius: 2rem;
  font-weight: 800;
  background-color: var(--primary);
  cursor: pointer;
}

.btn-large{
  font-size: 2rem;
}

.btn-medium{
  font-size: 1rem;
  min-width: 150px;
}

.btn-small{
  font-size: 0.75rem;
} 

.spacer-medium{
  padding: 1rem;
}